h1 {
    text-align: center;
  }
  
  form {
    margin: 0 auto;
    max-width: 600px;
  }
  
  label {
    font-size: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #bfbfbf;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  #result {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* 이미지를 수직으로 가운데로 정렬하기 위해 높이를 설정 */
  }
  
  #imageResult {
    max-width: 100%; /* 이미지가 컨테이너를 넘어가지 않도록 설정 */
    max-height: 100%; /* 이미지가 컨테이너를 넘어가지 않도록 설정 */
  }
  
  
  /* index.css */
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input[type="submit"] {
  cursor: pointer;
}

#downloadBtn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
}
